@font-face {
  font-family: 'GT America Mono';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/GT-America-Mono-Regular.woff2);
}

@font-face {
  font-family: 'GT Super Text';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/GT-Super-Text-Regular.woff2);
}

@font-face {
  font-family: 'GT Super Text';
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/GT-Super-Text-Regular-Italic.woff2);
}

@font-face {
  font-family: 'GT Super Display';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/GT-Super-Display-Regular.woff2);
}

@font-face {
  font-family: 'GT Super Display';
  font-weight: 400;
  font-style: italic;
  src: url(/fonts/GT-Super-Display-Regular-Italic.woff2);
}

@font-face {
  font-family: 'GT Super Display';
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/GT-Super-Display-Bold.woff2);
}

@font-face {
  font-family: 'GT Super Display';
  font-weight: 700;
  font-style: italic;
  src: url(/fonts/GT-Super-Display-Bold-Italic.woff2);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}